*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.txt-black{
    color: black;
}

.txt-white{
    color: white;
}

.bg-send{
    background-color: #1abc9c;
    border: #1abc9c;
}

.bold{
    font-size: bold;
}

.big-title{
    font-size: 1.5em;
    font-weight: 900;
}

.outline{
    outline: 1px solid black;
}

header, .copyright{
    background-color: #2C3E50;
}

.bootstrap, .about{
    background-color: #1ABC9C;
}

.location{
    background-color: #3A546D;
}

/* Header */

header{
    height: 3em;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.strong-title-white{
    font-weight: 900;
    color: white;
    font-size: 1.2em;
    
}

.bootstrap p{
    font-size: 1.1em;
    font-weight: bold;
}

.txt-size{
    font-size: .8em;
}

/* stella */


.star-line {
  margin: 1.25em 0 1.5em;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.star-line .line {
  width: 100%;
  max-width: 9em;
  height: 0.25em;
  background-color: rgb(44, 62, 80);
  border-radius: 1em;
}

.star-line .star {
  color: rgb(43, 62, 80);
  font-size: 2em;
}


